params.outdir = params.outdir ?: 'results'

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
    overwrite = true
}